* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$wave-count: 5;
$isReversed: 0;

@for $i from 1 through $wave-count {
  @if $i % 2 == 0 {
    $isReversed: -1;
  } @else {
    $isReversed: 1;
  }
  .ocean {
    .wave {
      &:nth-of-type(#{$i}) {
        z-index: #{$i};
        position: absolute;
        top: $i * 8 + 50%;
        animation: wave #{($wave-count - $i) + 3}s ease-in-out 0s infinite alternate forwards;
        transform: scale(#{(($i * 12) + 100) / 100}) translate(-50%, -50%) scaleX(#{$isReversed});
      }
      // &:nth-of-type(even) {
      //   transform: scaleX(-1);
      // }
    }
  }
}
@keyframes wave {
  0% {left: 50%};
  100% {left: 75%};
}
body {
  overflow: hidden;
}
.ocean {
  background-image: url('../img/stars.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  .wave {
    width: 125vw;
  }
}
.moon {
  position: absolute;
  left: 50%;
  animation: moon 10s ease-in-out 0s infinite alternate forwards;
  transform: translate(-50%);
}

@keyframes moon {
  0% {
    bottom: 0%;
    width: 10px;
  };
  50% {
    z-index: 0;
    bottom: 60%;
    width: 500px;
  };
  100% {
    z-index: 999;
    bottom: 15%;
    width: 1000px;
  }
}
