* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$wave-count: 5;

@for $i from 1 through $wave-count {
  .ocean .wave:nth-of-type(#{$i}) {
    position: absolute;
    top: calc(#{$i} * 30px + 300px);
    left: 50%;
    animation: wave #{($wave-count - $i) + 3}s ease-in-out 0s infinite alternate forwards;
    transform: scale(#{(($i * 10) + 100) / 100});
    transform: translate(-50%, -50%);
  }
}
@keyframes wave {
  0% {left: 0px};
  100% {left: 500px};
}

.ocean {
  background-image: url('../img/stars.jpg');
  height: 100vh;
  width: 100vw;
}
